@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;700&display=swap');

/* Tomorrow Night by Chris Kempson (http://chriskempson.com) */
:root {
  --base1:   #1d1f21;
  --base2:   #282a2e;
  --base3:   #373b41;
  --base4:   #969896;
  --base5:   #b4b7b4;
  --base6:   #c5c8c6;
  --base7:   #e0e0e0;
  --base8:   #ffffff;
  --red:     #cc6666;
  --orange:  #de935f;
  --yellow:  #f0c674;
  --green:   #b5bd68;
  --cyan:    #8abeb7;
  --blue:    #81a2be;
  --magenta: #b294bb;
  --brown:   #a3685a;

  --base3--bright:   #494C52;
  --base3--brighter: #5B5F66;
  --base4--dark:     #8A8C8A;
  --blue--dark:      #708DA6;
  --blue--dark--hov: #7998B2;
  --red--bright:     #DD6E6E;
  --red--brighter:   #F27979;

  --btn-border-radius: 9px;
}

html, body {
  background-color: var(--base7);
  color: var(--base1);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 25px;
  height: 100%;
  width: 100%;
  gap: 16px;
  font-size: 1.25em;
}

#calc {
  background-color: var(--base2);
  color: var(--base9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
  padding: 38px 22px;
  border-radius: 27px;
  font-size: 1.9em;
  font-family: 'Roboto Mono', sans-serif;
  touch-action: manipulation;
}

.calc__display {
  background-color: var(--base7);
  color: var(--base2);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 12px;
  width: 100%;
  text-align: right;
  height: 87px;
  border-radius: var(--btn-border-radius);
  box-sizing: border-box;
  padding: 2px 13px;
}

.calc__display__input, .calc__display__result {
  height: 25px;
}

.calc__display--gray {
  color: var(--base4--dark);
  transition: color 0.20s ease-out;
}

@keyframes pop {
  15% {
    transform: translateY(-4px);
  }
  66% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  }
}

.calc__display__input--pop {
  animation-name: pop;
  animation-duration: 0.25s;
}

/* Used in the TypeScript code to reset animations */
.calc__display__input--reset {
  animation: none;
}

.calc__display__input--error {
  color: var(--red);
  font-family: 'Roboto', sans-serif;
  font-size: 0.68em;
  position: relative;
  top: 10px;
}

.calc__buttons {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.calc__row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 11px;
}

.calc__btn {
  background-color: var(--base3);
  color: var(--base8);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: var(--btn-border-radius);
  font-family: 'Roboto Mono', monospace;
  font-size: 1.0em;
  width: 77px;
  flex-basis: 77px;
  height: 64px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  --active-color: var(--base3--brighter);
}

.calc__btn--blue {
  background-color: var(--blue--dark);
  --active-color: var(--blue);
}

.calc__btn--red {
  background-color: var(--red);
  --active-color: var(--red--bright);
}

@media (min-width: 768px) {
  .calc__btn:hover {
    background-color: var(--base3--bright);
  }

  .calc__btn--blue:hover {
    background-color: var(--blue--dark--hov);
  }

  .calc__btn--red:hover {
    background-color: var(--red--bright);
  }
  
  .calc__btn:active {
    background-color: var(--base3--brighter);
    filter: brightness(1.25);
  }

  .calc__btn--blue:active {
    background-color: var(--blue);
    filter: brightness(1.25);
  }

  .calc__btn--red:active {
    background-color: var(--red--brighter);
    filter: brightness(1.25);
  }
}

.calc__btn--width2x {
  flex: 2;
}

@keyframes tap {
  from {
    background-color: var(--active-color);
    filter: brightness(1.25);
  }
}

.calc__btn--tap {
  animation-name: tap;
  animation-duration: 0.45s;
}

/* Used in the TypeScript code to reset animations */
.calc__btn--reset {
  animation: none;
}

.calc__btn i {
  pointer-events: none;
}

a {
  color: var(--base1);
}

.footer img {
  height: 24px;
  position: relative;
  top: 3px;
}

.footer .fab {
  font-size: 1.3em;
}

::moz-selection, ::selection {
  background: var(--blue);
}

@media all and (max-width: 600px) {
  #container {
    margin-top: 20px;
    gap: 20px;
  }

  #calc {
    padding-left: 18px;
    padding-right: 18px;
  }

  .calc__display {
    font-size: 0.95em;
    padding: 4px 13px;
    height: 92px;
  }

  .calc__btn {
    width: 73px;
    flex-basis: 73px;
    transition: background-color 4s;
  }

  .calc__btn:active {
    filter: brightness(1.6);
  }
}
